body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f8ff; /* Bleu clair */
    color: #003366; /* Bleu foncé */
}

h2 {
    text-align: center;
    color: #003366;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #003366;
    border-radius: 10px;
    background-color: #e6f2ff; /* Bleu très clair */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    color: #003366;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #003366;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #0056b3; /* Bleu */
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #003366; /* Bleu foncé */
}

input:focus, select:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 5px #0056b3;
}
